{% set url = path('ads_show', {'slug' : ad.slug }) %}
<div class="col-md-4">
	<div class="card bg-light mb-3">
		<div class="card-header text-center">
			{{ ad.rooms }}
			chambres,
			<strong>{{ ad.price }}&euro; / nuit</strong><br/>
			<small>Pas encore notés</small>
		</div>

		<a href="{{ url }}">
			<img src="{{ ad.coverImage }}" alt="Image de l'appartement" style="height: 200px; width:100%; display:block;">
		</a>
	</div>

	<div class="card-body">
		<h4 class="card-title">
			<a href="{{ url}}" class="text-decoration-none">
				{{ ad.title }}
			</a>
		</h4>

		<p class="card-text">
			{{ ad.introduction }}
		</p>
		<a href="{{ url }}" class="btn btn-secondary">En savoir plus</a>
		{% if ad.author is same as(app.user) %}
			<a href="{{ path('ads_edit', {'slug': ad.slug})}}" class="btn btn-secondary">Modifier l'annonce</a>
		{% endif %}
	</div>
</div>
